# Файлы данных (можно вынести в отдельный репозиторий)
data/

# Временные файлы и кэш
*.tmp
*.cache
__pycache__/
*.pyc

# Конфиги с секретами
configs/secrets.yaml

# Логи
*.log

# IDE и системные файлы
.vscode/
.idea/
.DS_Store